MISSION_ENV=production
MISSION_SECRET_KEY=change-me
MISSION_CAS_ENABLED=true
MISSION_DEV_MODE=false

MISSION_PUBLIC_BASE_URL=https://geii.iut.u-bordeaux.fr
MISSION_CAS_BASE_URL=https://cas.u-bordeaux.fr/cas

MISSION_DB_HOST=localhost
MISSION_DB_PORT=3306
MISSION_DB_USER=mission
MISSION_DB_PASSWORD=change-me
MISSION_DB_NAME=mission

MISSION_CAS_DB_HOST=localhost
MISSION_CAS_DB_PORT=3306
MISSION_CAS_DB_USER=mission
MISSION_CAS_DB_PASSWORD=change-me
MISSION_CAS_DB_NAME=db_cas

MISSION_MAIL_SENDER=serveur.mission.geii@gmail.com
MISSION_MAIL_RECEIVER=valerie.galland@u-bordeaux.fr
MISSION_SMTP_HOST=smtpauth.u-bordeaux.fr
MISSION_SMTP_PORT=587

MISSION_SESSION_COOKIE_SECURE=true
MISSION_SESSION_COOKIE_SAMESITE=Lax
MISSION_HOST=0.0.0.0
PORT=6969
WEB_CONCURRENCY=2
WEB_THREADS=4
WEB_TIMEOUT=120

