
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/solid.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/thinline.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.bubble.css" rel="stylesheet" />

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{{url_for('static', filename='js/bootstarp.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/ville.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/js/JQuery.js')}}"></script>


    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-material-datetimepicker.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/radio_card2.css')}}">
    
    
    <script type="text/javascript" src="{{url_for('static', filename='js/moment-with-locales.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-material-datetimepicker.js')}}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='ressources/bm_gradignan_geii_rvb.png')}}">
    <title>Demande d'ordre de mission</title>
</head>
<body>
    <input class="checkbox" type="checkbox" name="general" id="general">
                <label class="for-checkbox" for="general"></label>
                <div class="FABMenu">
                    <input type="checkbox" autocomplete="off"/>
                    <div class="hamburger">
                      <div class="dots">
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                      </div>
                    </div>
                    <div class="action_items_bar">
                      <div class="action_items">
                        <a class="first_item" href="http://geii.iut.u-bordeaux.fr/mission">
                          <i class="material-icons">
                          home
                          </i>
                        </a>
                        <a class="second_item" id="go-back">
                            <script>
                                document.getElementById("go-back").addEventListener("click", () => {
                                    history.back();
                                  });
                            </script>
                          <i class="material-icons">
                            keyboard_double_arrow_left
                          </i>
                        </a>
                        <a class="third_item">
                            <i class="material-icons">
                                admin_panel_settings
                            </i>
                        </a>
                        <a class="fourth_item" id="go-reload">
                            <script>
                                document.getElementById("go-reload").addEventListener("click", () => {
                                    window.location.reload()
                                  });
                            </script>
                            <i class="material-icons">
                                refresh
                            </i>
                        </a>
                      </div>
                    </div>
                  </div>
    <div class="background-color"></div>
    <form method="post" action="/mission/create_mission" name="theForm" >
    <div class="body" id="body">
        <div class="Header" style="margin-left: 10px;">
            <input type="text" class="intext" name="PRENOM"    id="Prenom"     placeholder="Prenom"    autocomplete="off" required>
            <input type="text" class="intext" name="NOM"       id="Nom"        placeholder="Nom"       autocomplete="off" required>
            <input type="text" class="intext"  id="TodayDateDisplay"  readonly>
            <input type="text" class="intext" name="DATE_AJD"  id="TodayDate"  readonly style="visibility: hidden; height:0; width:0" >
            <script>
                date = new Date()
                let mois = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
                document.getElementById("TodayDate").value = Date.now()
                document.getElementById("TodayDateDisplay").value =  date.getDate()+" "+ mois[date.getMonth()]+" "+(1900+date.getYear());
                
            </script>   
        </div>
        
        <div style="display: flex; justify-content: center; margin: 10px;">
            <!--<select style="width: 20%;  text-align: center;">
                <option value="GESII">GESII</option>
                <option value="AUTRE">AUTRE</option>
            </select>: max(820px,30%)-->
            <input style="width:68.5%;" type="text" class="intext" name="NOM_MISSION" id="NOM_MISSION" placeholder="NOM DE LA MISSION" required>   
        </div>
        
        <div class="mission">
    
            <div class="container_mission">
                <input class="checkbox-budget" type="radio" name="MISSION" value='FRANCE' id="France" autocomplete="off" checked>
						<label class="pays" for="France">
							<span data-hover="France">France</span>
						</label>
                <div class="box_mission " id="France">
                    <div>
                        <input class="checkbox-budget" type="radio" name="FRAIS" value='AVEC' id="FRAIS_oui" autocomplete="off">
                        <label class="oui_non" for="FRAIS_oui">
                            <span data-hover="AVEC FRAIS">AVEC</span>
                        </label> 
                    </div>
                    <p class="FRAIS">FRAIS ?</p>
                    <div>
                        <input class="checkbox-budget" type="radio" name="FRAIS" value='SANS' id="FRAIS_non" autocomplete="off" checked>
                        <label class="oui_non" for="FRAIS_non">
                            <span data-hover="SANS FRAIS">SANS</span>
                        </label>    
                    </div>
                </div>
            </div>
            
            <div class="container_mission">
                <input class="checkbox-budget" type="radio" name="MISSION" value='AUTRE' id="Autre" autocomplete="off" >
                <label class="pays" for="Autre">
                    <span data-hover="Autre">Autre</span>
                </label> 
                <div class="box_mission" id="AUTRE">
                    <div class="listsearch">
                        <input class="chosen-value" type="text" value="" name="pays" placeholder="Choisir un Pays" autocomplete="off" required>
                        <ul class="value-list">
                            <li value="Afghanistan">Afghanistan</li>
                            <li value="Afrique_Centrale">Afrique_Centrale</li>
                            <li value="Afrique_du_sud">Afrique_du_Sud</li>
                            <li value="Albanie">Albanie</li>
                            <li value="Algerie">Algerie</li>
                            <li value="Allemagne">Allemagne</li>
                            <li value="Andorre">Andorre</li>
                            <li value="Angola">Angola</li>
                            <li value="Anguilla">Anguilla</li>
                            <li value="Arabie_Saoudite">Arabie_Saoudite</li>
                            <li value="Argentine">Argentine</li>
                            <li value="Armenie">Armenie</li>
                            <li value="Australie">Australie</li>
                            <li value="Autriche">Autriche</li>
                            <li value="Azerbaidjan">Azerbaidjan</li>
                            
                            <li value="Bahamas">Bahamas</li>
                            <li value="Bangladesh">Bangladesh</li>
                            <li value="Barbade">Barbade</li>
                            <li value="Bahrein">Bahrein</li>
                            <li value="Belgique">Belgique</li>
                            <li value="Belize">Belize</li>
                            <li value="Benin">Benin</li>
                            <li value="Bermudes">Bermudes</li>
                            <li value="Bielorussie">Bielorussie</li>
                            <li value="Bolivie">Bolivie</li>
                            <li value="Botswana">Botswana</li>
                            <li value="Bhoutan">Bhoutan</li>
                            <li value="Boznie_Herzegovine">Boznie_Herzegovine</li>
                            <li value="Bresil">Bresil</li>
                            <li value="Brunei">Brunei</li>
                            <li value="Bulgarie">Bulgarie</li>
                            <li value="Burkina_Faso">Burkina_Faso</li>
                            <li value="Burundi">Burundi</li>
                            <li value="Caiman">Caiman</li>
                            <li value="Cambodge">Cambodge</li>
                            <li value="Cameroun">Cameroun</li>
                            <li value="Canada">Canada</li>
                            <li value="Canaries">Canaries</li>
                            <li value="Cap_vert">Cap_Vert</li>
                            <li value="Chili">Chili</li>
                            <li value="Chine">Chine</li>
                            <li value="Chypre">Chypre</li>
                            <li value="Colombie">Colombie</li>
                            <li value="Comores">Colombie</li>
                            <li value="Congo">Congo</li>
                            <li value="Congo_democratique">Congo_democratique</li>
                            <li value="Cook">Cook</li>
                            <li value="Coree_du_Nord">Coree_du_Nord</li>
                            <li value="Coree_du_Sud">Coree_du_Sud</li>
                            <li value="Costa_Rica">Costa_Rica</li>
                            <li value="Cote_d_Ivoire">Côte_d_Ivoire</li>
                            <li value="Croatie">Croatie</li>
                            <li value="Cuba">Cuba</li>
                            
                            <li value="Danemark">Danemark</li>
                            <li value="Djibouti">Djibouti</li>
                            <li value="Dominique">Dominique</li>
                            
                            <li value="Egypte">Egypte</li>
                            <li value="Emirats_Arabes_Unis">Emirats_Arabes_Unis</li>
                            <li value="Equateur">Equateur</li>
                            <li value="Erythree">Erythree</li>
                            <li value="Espagne">Espagne</li>
                            <li value="Estonie">Estonie</li>
                            <li value="Etats_Unis">Etats_Unis</li>
                            <li value="Ethiopie">Ethiopie</li>
                            
                            <li value="Falkland">Falkland</li>
                            <li value="Feroe">Feroe</li>
                            <li value="Fidji">Fidji</li>
                            <li value="Finlande">Finlande</li>
                            <li value="France">France</li>
                            
                            <li value="Gabon">Gabon</li>
                            <li value="Gambie">Gambie</li>
                            <li value="Georgie">Georgie</li>
                            <li value="Ghana">Ghana</li>
                            <li value="Gibraltar">Gibraltar</li>
                            <li value="Grece">Grece</li>
                            <li value="Grenade">Grenade</li>
                            <li value="Groenland">Groenland</li>
                            <li value="Guadeloupe">Guadeloupe</li>
                            <li value="Guam">Guam</li>
                            <li value="Guatemala">Guatemal</li>
                            <li value="Guernesey">Guernesey</li>
                            <li value="Guinee">Guinee</li>
                            <li value="Guinee_Bissau">Guinee_Bissau</li>
                            <li value="Guinee equatoriale">Guinee_Equatoriale</li>
                            <li value="Guyana">Guyana</li>
                            <li value="Guyane_Francaise ">Guyane_Francaise</li>
                            
                            <li value="Haiti">Haiti</li>
                            <li value="Hawaii">Hawaii</li>
                            <li value="Honduras">Honduras</li>
                            <li value="Hong_Kong">Hong_Kong</li>
                            <li value="Hongrie">Hongrie</li>
                            
                            <li value="Inde">Inde</li>
                            <li value="Indonesie">Indonesie</li>
                            <li value="Iran">Iran</li>
                            <li value="Iraq">Iraq</li>
                            <li value="Irlande">Irlande</li>
                            <li value="Islande">Islande</li>
                            <li value="Israel">Israel</li>
                            <li value="Italie">italie</li>
                            
                            <li value="Jamaique">Jamaique</li>
                            <li value="Jan Mayen">Jan Mayen</li>
                            <li value="Japon">Japon</li>
                            <li value="Jersey">Jersey</li>
                            <li value="Jordanie">Jordanie</li>
                            
                            <li value="Kazakhstan">Kazakhstan</li>
                            <li value="Kenya">Kenya</li>
                            <li value="Kirghizstan">Kirghizistan</li>
                            <li value="Kiribati">Kiribati</li>
                            <li value="Koweit">Koweit</li>
                            
                            <li value="Laos">Laos</li>
                            <li value="Lesotho">Lesotho</li>
                            <li value="Lettonie">Lettonie</li>
                            <li value="Liban">Liban</li>
                            <li value="Liberia">Liberia</li>
                            <li value="Liechtenstein">Liechtenstein</li>
                            <li value="Lituanie">Lituanie</li>
                            <li value="Luxembourg">Luxembourg</li>
                            <li value="Lybie">Lybie</li>
                            
                            <li value="Macao">Macao</li>
                            <li value="Macedoine">Macedoine</li>
                            <li value="Madagascar">Madagascar</li>
                            <li value="Madère">Madère</li>
                            <li value="Malaisie">Malaisie</li>
                            <li value="Malawi">Malawi</li>
                            <li value="Maldives">Maldives</li>
                            <li value="Mali">Mali</li>
                            <li value="Malte">Malte</li>
                            <li value="Man">Man</li>
                            <li value="Mariannes du Nord">Mariannes du Nord</li>
                            <li value="Maroc">Maroc</li>
                            <li value="Marshall">Marshall</li>
                            <li value="Martinique">Martinique</li>
                            <li value="Maurice">Maurice</li>
                            <li value="Mauritanie">Mauritanie</li>
                            <li value="Mayotte">Mayotte</li>
                            <li value="Mexique">Mexique</li>
                            <li value="Micronesie">Micronesie</li>
                            <li value="Midway">Midway</li>
                            <li value="Moldavie">Moldavie</li>
                            <li value="Monaco">Monaco</li>
                            <li value="Mongolie">Mongolie</li>
                            <li value="Montserrat">Montserrat</li>
                            <li value="Mozambique">Mozambique</li>
                            
                            <li value="Namibie">Namibie</li>
                            <li value="Nauru">Nauru</li>
                            <li value="Nepal">Nepal</li>
                            <li value="Nicaragua">Nicaragua</li>
                            <li value="Niger">Niger</li>
                            <li value="Nigeria">Nigeria</li>
                            <li value="Niue">Niue</li>
                            <li value="Norfolk">Norfolk</li>
                            <li value="Norvege">Norvege</li>
                            <li value="Nouvelle_Caledonie">Nouvelle_Caledonie</li>
                            <li value="Nouvelle_Zelande">Nouvelle_Zelande</li>
                            
                            <li value="Oman">Oman</li>
                            <li value="Ouganda">Ouganda</li>
                            <li value="Ouzbekistan">Ouzbekistan</li>
                            
                            <li value="Pakistan">Pakistan</li>
                            <li value="Palau">Palau</li>
                            <li value="Palestine">Palestine</li>
                            <li value="Panama">Panama</li>
                            <li value="Papouasie_Nouvelle_Guinee">Papouasie_Nouvelle_Guinee</li>
                            <li value="Paraguay">Paraguay</li>
                            <li value="Pays_Bas">Pays_Bas</li>
                            <li value="Perou">Perou</li>
                            <li value="Philippines">Philippines</li>
                            <li value="Pologne">Pologne</li>
                            <li value="Polynesie">Polynesie</li>
                            <li value="Porto_Rico">Porto_Rico</li>
                            <li value="Portugal">Portugal</li>
                            
                            <li value="Qatar">Qatar</li>
                            
                            <li value="Republique_Dominicaine">Republique_Dominicaine</li>
                            <li value="Republique_Tcheque">Republique_Tcheque</li>
                            <li value="Reunion">Reunion</li>
                            <li value="Roumanie">Roumanie</li>
                            <li value="Royaume_Uni">Royaume_Uni</li>
                            <li value="Russie">Russie</li>
                            <li value="Rwanda">Rwanda</li>
                            
                            <li value="Sahara Occidental">Sahara Occidental</li>
                            <li value="Sainte_Lucie">Sainte_Lucie</li>
                            <li value="Saint_Marin">Saint_Marin</li>
                            <li value="Salomon">Salomon</li>
                            <li value="Salvador">Salvador</li>
                            <li value="Samoa_Occidentales">Samoa_Occidentale</li>
                            <li value="Samoa_Americaine">Samoa_Americaine</li>
                            <li value="Sao_Tome_et_Principe">Sao_Tome_et_Principe</li>
                            <li value="Senegal">Senegal</li>
                            <li value="Seychelles">Seychelles</li>
                            <li value="Sierra Leone">Sierra Leone</li>
                            <li value="Singapour">Singapour</li>
                            <li value="Slovaquie">Slovaquie</li>
                            <li value="Slovenie">Sloveni</li>
                            <li value="Somalie">Somalie</li>
                            <li value="Soudan">Soudan</li>
                            <li value="Sri_Lanka">Sri_Lanka</li>
                            <li value="Suede">Suede</li>
                            <li value="Suisse">Suisse</li>
                            <li value="Surinam">Surinam</li>
                            <li value="Swaziland">Swaziland</li>
                            <li value="Syrie">Syrie</li>
                            
                            <li value="Tadjikistan">Tadjikistan</li>
                            <li value="Taiwan">Taiwan</li>
                            <li value="Tonga">Tonga</li>
                            <li value="Tanzanie">Tanzanie</li>
                            <li value="Tchad">Tchad</li>
                            <li value="Thailande">Thailande</li>
                            <li value="Tibet">Tibet</li>
                            <li value="Timor_Oriental">Timor_Oriental</li>
                            <li value="Togo">Togo</li>
                            <li value="Trinite_et_Tobago">Trinite_et_Tobago</li>
                            <li value="Tristan da cunha">Tristan de cuncha</li>
                            <li value="Tunisie">Tunisie</li>
                            <li value="Turkmenistan">Turmenistan</li>
                            <li value="Turquie">Turquie</li>
                            
                            <li value="Ukraine">Ukraine</li>
                            <li value="Uruguay">Uruguay</li>
                            
                            <li value="Vanuatu">Vanuatu</li>
                            <li value="Vatican">Vatican</li>
                            <li value="Venezuela">Venezuela</li>
                            <li value="Vierges_Americaines">Vierges_Americaines</li>
                            <li value="Vierges_Britanniques">Vierges_Britanniques</li>
                            <li value="Vietnam">Vietnam</li>
                            
                            <li value="Wake">Wake</li>
                            <li value="Wallis et Futuma">Wallis et Futuma</li>
                            
                            <li value="Yemen">Yemen</li>
                            <li value="Yougoslavie">Yougoslavie</li>
                            
                            <li value="Zambie">Zambie</li>
                            <li value="Zimbabwe">Zimbabwe</li>
                        </ul>
                    </div>
                      <script>
                        const inputField = document.querySelector('.chosen-value');
                        const dropdown = document.querySelector('.value-list');
                        const dropdownArray = [... document.querySelectorAll('li')];
                        console.log(typeof dropdownArray)
                        dropdown.classList.add('open');
                        inputField.focus(); // Demo purposes only
                        let valueArray = [];
                        dropdownArray.forEach(item => {
                          valueArray.push(item.textContent);
                        });
                        
                        const closeDropdown = () => {
                          dropdown.classList.remove('open');
                        }
                        
                        inputField.addEventListener('input', () => {
                          dropdown.classList.add('open');
                          let inputValue = inputField.value.toLowerCase();
                          let valueSubstring;
                          if (inputValue.length > 0) {
                            for (let j = 0; j < valueArray.length; j++) {
                              if (!(inputValue.substring(0, inputValue.length) === valueArray[j].substring(0, inputValue.length).toLowerCase())) {
                                dropdownArray[j].classList.add('closed');
                              } else {
                                dropdownArray[j].classList.remove('closed');
                              }
                            }
                          } else {
                            for (let i = 0; i < dropdownArray.length; i++) {
                              dropdownArray[i].classList.remove('closed');
                            }
                          }
                        });
                        
                        dropdownArray.forEach(item => {
                          item.addEventListener('click', (evt) => {
                            inputField.value = item.textContent;
                            dropdownArray.forEach(dropdown => {
                              dropdown.classList.add('closed');
                            });
                          });
                        })
                        
                        inputField.addEventListener('focus', () => {
                           inputField.placeholder = 'Recherche';
                           dropdown.classList.add('open');
                           dropdownArray.forEach(dropdown => {
                             dropdown.classList.remove('closed');
                           });
                        });
                        
                        inputField.addEventListener('blur', () => {
                           inputField.placeholder = 'Choisir un Pays';
                          dropdown.classList.remove('open');
                        });
                        
                        document.addEventListener('click', (evt) => {
                          const isDropdown = dropdown.contains(evt.target);
                          const isInput = inputField.contains(evt.target);
                          if (!isDropdown && !isInput) {
                            dropdown.classList.remove('open');
                          }
                        });
                    </script>
                </div>
            </div> 
    
        </div>
        <div class="mission">
            <div class="container_mission">
                <input type="text" id="date-fr-start" class="form-control floating-label intext" name="D_DEPART" value="" placeholder="Date de départ" autocomplete="off" required>
                <input type="text" id="time-fr-start" class="form-control floating-label intext" name="H_DEPART" value="" placeholder="Heure de départ" autocomplete="off" required>
            </div>
            <div class='container_mission'>
                    <input type="text" id="date-fr-return" class="form-control floating-label intext" name="D_RETOUR" value="" placeholder="Date de retour" autocomplete="off" required>
                    <input type="text" id="time-fr-return" class="form-control floating-label intext" name="H_RETOUR" value="" placeholder="Heure de retour" autocomplete="off" required>
            </div>
        </div>
            
            <script type="text/javascript">
                $(document).ready(function()
                {
                    $('#date-fr-start').bootstrapMaterialDatePicker
                    ({
                        format: 'DD/MM/YYYY',
                        time: false,
                        lang: 'fr',
                        weekStart: 1, 
                        cancelText : 'ANNULER',
                        nowButton : false,
                        switchOnClick : true,
                    }).on('change', function(e, date){
                        $('#date-fr-return').bootstrapMaterialDatePicker('setMinDate', date);
                        $('#date-fr-return').bootstrapMaterialDatePicker('setDate', date);
                        //document.getElementById("date-fr-start").value = date;
                    });
                    $('#time-fr-start').bootstrapMaterialDatePicker({
                        date: false,
                        format: 'HH:mm'
                    }); 
                    $('#date-fr-return').bootstrapMaterialDatePicker({
                        format: 'DD/MM/YYYY',
                        time: false,
                        lang: 'fr',
                        weekStart: 1, 
                        cancelText : 'ANNULER',
                        nowButton : false,
                        switchOnClick : true
                    });
                    $('#time-fr-return').bootstrapMaterialDatePicker({
                        date: false,
                        format: 'HH:mm'
                    }); 

                    let dateActuelle = new Date();
                    dateActuelle.setHours(0)
                    dateActuelle.setMinutes(0)
                    let maxDate = new Date(new Date().getFullYear()+1, 11, 32)
                    $("#date-fr-start").bootstrapMaterialDatePicker('setMaxDate', maxDate)
                    $("#date-fr-return").bootstrapMaterialDatePicker('setMaxDate', maxDate)
    
                    dateActuelle.setDate(dateActuelle.getDate()+10);
                    $("#date-fr-start").bootstrapMaterialDatePicker('setMinDate', dateActuelle)
                    $.material.init()
                });
            </script>
    
                
    
                <div style="padding-top: 20px;padding-bottom: 20px;">
                    <div>
                        <strong id="title_part">_____Lieu de déplacement_____</strong>
                        <div style="display: flex; justify-content: center;">
                            <input class="intext" style="width: 60%; margin: 15px;" type="text" name="LIEU" id="lieu" placeholder="Lieu de la mission" autocomplete="off">
                        </div>
                        <div class="mission" style="justify-content: center;">
                            <div id="div_codeptl" style="width: 40%;">
                                <input class="Dest numeric intext" type="text" name="CODE_PTL" id="code" placeholder="Code postal" autocomplete="off">
                                <script>
                                    $(".numeric").on("input", function () {
                                    var inputValue = $(this).val();
                                    var validChars = /^[0-9]+$/;

                                    if (!validChars.test(inputValue)) {
                                        // Remove invalid characters
                                        $(this).val(inputValue.replace(/[^0-9]+/g, ''));
                                    }
                                });
                                document.getElementById('Autre').addEventListener("change", (e) => {
                                        document.getElementById('div_codeptl').style.display = "none";
                                        document.getElementById('ville').style.width = "69%";
                                        
                                });
                                document.getElementById('France').addEventListener("change", (e) => {
                                        document.getElementById('div_codeptl').style.display = "initial";
                                        document.getElementById('ville').style.width = "40%";
                                });


                                </script>
                            </div>
                            <div id="div_ville" style="width: 40%;">
                                <input class="Dest intext" type="text" id="ville" name="VILLE" placeholder="Ville" autocomplete="off"onkeypress="return (event.charCode > 64 && 
	                                event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32">
                            </div>
                        </div>
                    </div>
                    <section id="ville_section" style="z-index: 1000;">
                        <div class="list">
                            <ul class="ville" id="list_ville">
                                <li class="ville" data-vicopo="#ville, #code" data-vicopo-click='{"#code": "code", "#ville": "ville"}' >
                                  <div id="code_postal" data-vicopo-code-postal></div>
                                  <div id="ville" data-vicopo-ville></div>
                            </li>
                            </ul>   
                        </div>
                        <div class="animation"></div>
                    </section>
                    <script>
                        const input1 = document.getElementById('code');
                        const input2 = document.getElementById('ville');
                        const monSelector = document.getElementById('ville_section');
                        let timeoutId; // Variable pour stocker l'identifiant du timeout

                        function toggleVisibility() {
                            clearTimeout(timeoutId); // Annuler le précédent timeout

                            // Délai de 0.5s
                            timeoutId = setTimeout(() => {
                                // Vérifie si au moins un des inputs est sélectionné (focus)
                                if (document.activeElement === input1 || document.activeElement === input2) {
                                    monSelector.style.visibility = 'visible'; // Rendre visible
                                } else {
                                    monSelector.style.visibility = 'hidden'; // Cacher
                                }
                            }, 100);
                        }
                                        
                        // Écoute des événements sur les deux inputs
                        input1.addEventListener('focus', toggleVisibility);
                        input2.addEventListener('focus', toggleVisibility);
                        input1.addEventListener('blur', toggleVisibility);
                        input2.addEventListener('blur', toggleVisibility);
                    </script>
                    
                </div>
    
    
        <strong id="title_part">_____Moyen de transport_____</strong>
        <div id="transport">
                    <input class="checkbox-tools" type="radio" name="TRANSPORT" id="tool-1" value='V_PERSO' checked autocomplete="off">
                    <label class="for-checkbox-tools" for="tool-1">
                        <img class="img_vehicule" src="{{url_for('static', filename='ressources/voiture.svg')}}" alt="">
                        Véhicule personnel
                    </label><!--
                    --><input class="checkbox-tools" type="radio" name="TRANSPORT" id="tool-2" value='V_UB' autocomplete="off" onclick="V_UB()">
                    <label class="for-checkbox-tools" for="tool-2">
                        <img class="img_vehicule" src="{{url_for('static', filename='ressources/construction-automobile.svg')}}" alt="">
                        Véhicule de l'Université
                    </label>
                    <div class="popup" id="popup">
                        <div class="popup-encart"></div>
                        <div class="popup-contenu">Pour utilisé un vehicule de l'Université <br> VOUS <br> devez faire une demande via <a target="_blank" href='https://ent.u-bordeaux.fr/uPortal/f/services-lo/p/GRR.u38l1n503/max/render.uP?pCp'>l'intranet</a><br><a href="#" id="popup-fermeture">Fermer</a></div>
                    </div>
                    <style>
                   
                          
                    </style>
                    <!--
                    --><input class="checkbox-tools" type="radio" name="TRANSPORT" id="tool-3" value='TRAIN' autocomplete="off">
                    <label class="for-checkbox-tools" for="tool-3">
                        <img class="img_vehicule" src="{{url_for('static', filename='ressources/former.svg')}}" alt="">
                        Train
                    </label><!--
                    --><input class="checkbox-tools" type="radio" name="TRANSPORT" id="tool-4" value='AVION' autocomplete="off">
                    <label class="for-checkbox-tools" for="tool-4">
                        <img class="img_vehicule" src="{{url_for('static', filename='ressources/avion-alt.svg')}}" alt="">
                        Avion
                    </label>
    
        </div>
        <strong id="title_part">_____Hotel_____</strong>
        <p class="sub_text"> Besoin d'un hotel?</p>

        <div id="hotel">
            <div style="display: flex; justify-content: center;">
                <input type = "hidden" id = "booking-3_H" name = "HOTEL" value = "OUI"/>
                <input class="checkbox-booking" type="checkbox" name="HOTEL" id="booking-3" value="NON" autocomplete="off" checked>
                
                <label class="for-checkbox-booking" for="booking-3" style="position: relative; display: inline-block; ">							
                        <i class="uil uil-building"></i><span class="text"> Hotel ?</span>
                </label>  
            </div>
            
            <div id="hotel" class="hotel_info">
                <input id="Arrondisement" placeholder="Arrondisement si existant" style="display: none;">
                    <p class="sub_text">Petit déjeuner compris ?</p>
                <div style="display: flex; justify-content: center;">
                    <input class="checkbox-budget" type="radio" name="PTDEJ" id="PtDej_oui" value='OUI' autocomplete="off">
                    <label class="oui_non" for="PtDej_oui">
                        <span data-hover="OUI">OUI</span>
                    </label>
                    <input class="checkbox-budget" type="radio" name="PTDEJ" id="PtDej_non" value='NON' autocomplete="off" checked>
                    <label class="oui_non" for="PtDej_non">
                        <span data-hover="NON">NON</span>
                    </label>  
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#booking-3').change(function() {
                        if ($(this).is(':checked')) {
                            document.getElementById("booking-3_H").disabled = true;
                            $('.hotel_info').hide();  // Montre la div quand l'input est coché
                        } else {
                            document.getElementById("booking-3_H").disabled = false;
                            $('.hotel_info').show();  // Cache la div quand l'input est décoché
                        }
                    });
                    
                    // Initial check on page load
                    if ($('#booking-3').is(':checked')) {
                        document.getElementById("booking-3_H").disabled = true;
                        $('.hotel_info').hide();
                    } else {
                        document.getElementById("booking-3_H").disabled = false;
                        $('.hotel_info').show();
                    }
                });
            </script>
        </div>
        </form>
        <script src="{{url_for('static', filename='/js/quill.min.js')}}"></script>
        <script src="{{url_for('static', filename='/js/quill-resize-module.js')}}"></script>

        <div id="editor" style="height: 80%">
        </div>
        <input class="intext" name="QUILL" id="playground" name="QUILL" type="text" style="visibility: hidden; height: 0px; border: 0;"></input>
        <script>
            Quill.register("modules/resize", window.QuillResizeModule);
            const toolbarOptions = [  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
                ['link', 'image', 'video', 'formula'],

                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],

                ['clean'] ];
        const quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: toolbarOptions,
                resize: {
                    locale: {},
                }
            }
            });
            quill.on(Quill.events.TEXT_CHANGE, update);
            const playground = document.getElementById("playground");
            update();

            function formatDelta(delta) {
            return `<div>${JSON.stringify(delta.ops, null, 2)}</div>`;
            }

            function update(delta) {
            const contents = quill.getContents();
            let html = document.getElementById("editor").innerHTML;
            playground.value = html;
            }
            </script>
        
    </div>
    
    <div style="display: flex;
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                align-items: center;"
                >
        <input type="button" class="checkbox-budget" id="Valid" onclick="placeOrder()" style="visibility: hidden;" checked>
        <label class="pays" for="Valid" style="width: 50%;">
            <span data-hover="Envoyer la demande">Envoyer la demande</span>
        </label> 
        <script>
            function placeOrder() {
                //console.log(document.body.innerHTML)
                if( document.theForm.checkValidity()){
                    document.theForm.submit();
                }
                else{
                    window.alert("Le formulaire n'est pas complet");
                }
                
            }
            function V_UB(){
                let popupAlreadyShowed = false
                if( ! popupAlreadyShowed ) {
                    document.getElementById('popup').style.display = 'block'
                }
                
                document.getElementById('popup-fermeture').addEventListener('click', function(e) {
                document.getElementById('popup').style.display = 'none'
                })
            }
        </script>
        
    </div>
</body>
</html>
