
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/solid.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/thinline.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.bubble.css" rel="stylesheet" />

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{url_for('static', filename='/js/JQuery.js')}}"></script>


    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/radio_card2.css')}}">
    
    
    <script type="text/javascript" src="{{url_for('static', filename='js/moment-with-locales.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-material-datetimepicker.js')}}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='ressources/bm_gradignan_geii_rvb.png')}}">
    <title>Demande d'ordre de mission</title>
</head>
<body>
    <input class="checkbox" type="checkbox" name="general" id="general">
                <label class="for-checkbox" for="general"></label>
    <div class="FABMenu">
        <input type="checkbox" autocomplete="off"/>
        <div class="hamburger">
          <div class="dots">
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
          </div>
        </div>
        <div class="action_items_bar">
          <div class="action_items">
            <a class="first_item" href="http://geii.iut.u-bordeaux.fr/mission">
              <i class="material-icons">
              home
              </i>
            </a>
            <a class="second_item" id="go-back">
                <script>
                    document.getElementById("go-back").addEventListener("click", () => {
                        history.back();
                      });
                </script>
              <i class="material-icons">
                keyboard_double_arrow_left
              </i>
            </a>
            <a class="third_item">
                <i class="material-icons">
                    admin_panel_settings
                </i>
            </a>
            <a class="fourth_item" id="go-reload">
                <script>
                    document.getElementById("go-reload").addEventListener("click", () => {
                        window.location.reload()
                      });
                </script>
                <i class="material-icons">
                    refresh
                </i>
            </a>
          </div>
        </div>
    </div>
    <form class="adminMenu" method="post" action="">
        {% set list = ["Ouvert","En cours de traitement","Validé","Cloturé"] %}.
        <input class="chosen-value" id="selected_annee_choose" type="text" value="{{list[STAT]}}" placeholder="Status" name = 'STAT' autocomplete="off" style="font-size:0.9rem;;height: 2.5rem;width: 100%;">
        <ul class="value-list" id="selected_annee_list" style="margin-top: 40px;width: 0%;">
            <li michel="ANNEE" value="0">Ouvert</li>
            <li michel="ANNEE" value="1">En cours de validation</li>
            <li michel="ANNEE" value="2">Validé</li>
            <li michel="ANNEE" value="3">Cloturé</li>
        </ul>
        <script>
            const inputField3 = document.querySelector('#selected_annee_choose');
            const dropdown3 = document.querySelector('#selected_annee_list');
            const dropdownArray3 = [... document.querySelectorAll('[michel*="ANNEE"]')];
            //console.log(typeof dropdownArray3)
            dropdown3.classList.add('open');
            inputField3.focus(); // Demo purposes only
            let valueArray3 = [];
            dropdownArray3.forEach(item => {
              valueArray3.push(item.textContent);
            });

            const closeDropdown3 = () => {
              dropdown3.classList.remove('open');
            }

            inputField3.addEventListener('input', () => {
              dropdown3.classList.add('open');
              let inputValue = inputField3.value.toLowerCase();
              let valueSubstring;
              if (inputValue.length > 0) {
                for (let j = 0; j < valueArray3.length; j++) {
                    /*console.log(valueArray3[j].toLowerCase().includes(inputValue))*/
                  if (!(valueArray3[j].toLowerCase().includes(inputValue))) {
                    dropdownArray3[j].classList.add('closed');
                  } else {
                    dropdownArray3[j].classList.remove('closed');
                  }
                }
              } else {
                for (let i = 0; i < dropdownArray3.length; i++) {
                  dropdownArray3[i].classList.remove('closed');
                }
              }
            });

            dropdownArray3.forEach(item => {
              item.addEventListener('click', (evt) => {
                inputField3.value = item.textContent;
                dropdownArray3.forEach(dropdown3 => {
                  dropdown3.classList.add('closed');
                  const selector3 = document.getElementById("selected_annee_choose")
                  selector3.dispatchEvent(new Event("change"));
                  /*console.log('Event click bobo')*/
                });
              });
            })

            inputField3.addEventListener('focus', () => {
               inputField3.placeholder = '???';
               dropdown3.classList.add('open');
               dropdownArray3.forEach(dropdown3 => {
                 dropdown3.classList.remove('closed');
               });
            });

            inputField3.addEventListener('blur', () => {
               inputField3.placeholder = '{{list[STAT]}}';
              dropdown3.classList.remove('open');
            });

            document.addEventListener('click', (evt) => {
              const isDropdown3 = dropdown3.contains(evt.target);
              const isInput3 = inputField3.contains(evt.target);
              if (!isDropdown3 && !isInput3) {
                dropdown3.classList.remove('open');
                const selector3 = document.getElementById("selected_annee_choose")
                selector3.dispatchEvent(new Event("change"));
              }
            });
        </script>
        <input class="checkbox-budget" type="submit" name="update" id="Update" autocomplete="off" onclick="updatestat()">
		<label class="pays" for="Update" style="margin-left: 0px;margin-right: 0px;margin-top: 10px;width: -moz-available;top: 1vh;">
            <span data-hover="UPDATE update" class="material-icons">
                UPDATE update
            </span>
		</label>
    </form>
    <div class="background-color"></div>
    <form method="post" action="/mission/create_mission" name="theForm" >
    <div class="body" id="body">
        <div class="Header">
            <input type="text" class="intext" name="PRENOM"    id="Prenom"     placeholder="Prenom"    autocomplete="off" value="{{ Mission[2] }}" readonly disabled >
            <input type="text" class="intext" name="NOM"       id="Nom"        placeholder="Nom"       autocomplete="off"  value="{{Mission[1]}}" readonly disabled >
            <input type="text" class="intext" name="DATE_AJD"  id="TodayDate"  readonly>
            <script>
                date = new Date({{Mission[3]}})
                let mois = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
                document.getElementById("TodayDate").value =  date.getDate()+" "+ mois[date.getMonth()]+" "+(1900+date.getYear())
                
            </script>   
        </div>
        <div style="display: flex; justify-content: center; margin: 10px;">
            <!--<select style="width: 20%;  text-align: center;">
                <option value="GESII">GESII</option>
                <option value="AUTRE">AUTRE</option>
            </select>: max(820px,30%)-->
            <input style="width:68.5%;" type="text" class="intext" name="NOM_MISSION" id="NOM_MISSION" placeholder="NOM DE LA MISSION" value="{{Mission[4]}}" readonly disabled >   
        </div>
        
        <div class="mission">
    
            <div class="container_mission">
                <input class="checkbox-budget" type="radio" name="MISSION" value='FRANCE' id="France" autocomplete="off" filler="FRANCE" readonly disabled >
						<label class="pays" for="France">
							<span data-hover="France">France</span>
						</label>
                <div class="box_mission " id="France">
                    <div>
                        <input class="checkbox-budget" type="radio" name="FRAIS" value='AVEC' id="FRAIS_oui" autocomplete="off" filler="AFRAIS" readonly disabled >
                        <label class="oui_non" for="FRAIS_oui">
                            <span data-hover="AVEC FRAIS">AVEC</span>
                        </label> 
                    </div>
                    <p class="FRAIS">FRAIS ?</p>
                    <div>
                        <input class="checkbox-budget" type="radio" name="FRAIS" value='SANS' id="FRAIS_non" autocomplete="off" filler="SFRAIS" readonly disabled >
                        <label class="oui_non" for="FRAIS_non">
                            <span data-hover="SANS FRAIS">SANS</span>
                        </label>    
                    </div>
                </div>
            </div>
            
            <div class="container_mission">
                <input class="checkbox-budget" type="radio" name="MISSION" value='AUTRE' id="Autre" autocomplete="off" filler="AUTRE" readonly disabled >
                <label class="pays" for="Autre">
                    <span data-hover="Autre">Autre</span>
                </label> 
                <div class="box_mission" id="AUTRE">
                    <div class="listsearch">
                        <input class="chosen-value" type="text" value="{{Mission[5]}}" placeholder="Choisir un Pays" autocomplete="off" required disabled>
                    </div>
                </div>
            </div> 
    
        </div>
        <div class="mission">
            <div class="container_mission">
                <input type="text" id="date-fr-start" class="form-control floating-label intext" name="D_DEPART" value="{{Mission[7]}}" placeholder="Date de départ" autocomplete="off" required readonly>
                <input type="text" id="time-fr-start" class="form-control floating-label intext" name="H_DEPART" value="{{Mission[8]}}" placeholder="Heure de départ" autocomplete="off" required readonly>
            </div>
            <div class='container_mission'>
                    <input type="text" id="date-fr-return" class="form-control floating-label intext" name="D_RETOUR" value="{{Mission[9]}}" placeholder="Date de retour" autocomplete="off" required readonly>
                    <input type="text" id="time-fr-return" class="form-control floating-label intext" name="H_RETOUR" value="{{Mission[10]}}" placeholder="Heure de retour" autocomplete="off" required readonly>
            </div>
        </div>
                <div style="padding-top: 20px;padding-bottom: 20px;">
                    <div>
                        <strong id="title_part">_____Lieu de déplacement_____</strong>
                        <div style="display: flex; justify-content: center;">
                            <input style="width: 60%; margin: 15px;" type="text" class="intext" name="LIEU" id="lieu" placeholder="Lieu de la mission" value="{{Mission[12]}}" autocomplete="off" readonly>
                        </div>
                        <div class="mission" style="justify-content: center;">
                            <div id="div_codeptl" style="width: 40%;">
                                <input class="Dest numeric intext" type="text" name="CODE_PTL" id="code" placeholder="Code postal" value="{{Mission[13]}}" autocomplete="off" readonly>
                                <script>
                                    $(".numeric").on("input", function () {
                                    var inputValue = $(this).val();
                                    var validChars = /^[0-9]+$/;

                                    if (!validChars.test(inputValue)) {
                                        // Remove invalid characters
                                        $(this).val(inputValue.replace(/[^0-9]+/g, ''));
                                    }
                                });
                                </script>
                            </div>
                            <div id="div_ville" style="width: 40%;">
                                <input class="Dest intext" type="text" id="ville" name="VILLE" placeholder="Ville" value="{{Mission[14]}}" readonly autocomplete="off"onkeypress="return (event.charCode > 64 && 
	                                event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                            </div>
                        </div>
                    </div>
                </div>
    
    
        <strong id="title_part">_____Moyen de transport_____</strong>
        <div id="transport">
                    <input class="checkbox-tools" type="radio" name="TRANSPORT" id="tool-1" value='V_PERSO' filler="VP" autocomplete="off" readonly disabled >
                    <label class="for-checkbox-tools" for="tool-1">
                        <img class="img_vehicule" src="{{url_for('static', filename='ressources/voiture.svg')}}" alt="">
                        Véhicule personnel
                    </label><!--
                    --><input class="checkbox-tools" type="radio" name="TRANSPORT" id="tool-2" value='V_UB' filler="VUB" autocomplete="off" onclick="V_UB()" readonly disabled >
                    <label class="for-checkbox-tools" for="tool-2">
                        <img class="img_vehicule" src="{{url_for('static', filename='ressources/construction-automobile.svg')}}" alt="">
                        Véhicule de l'Université
                    </label><!--
                    --><input class="checkbox-tools" type="radio" name="TRANSPORT" id="tool-3" value='TRAIN' filler="TRAIN" autocomplete="off" readonly disabled >
                    <label class="for-checkbox-tools" for="tool-3">
                        <img class="img_vehicule" src="{{url_for('static', filename='ressources/former.svg')}}" alt="">
                        Train
                    </label><!--
                    --><input class="checkbox-tools" type="radio" name="TRANSPORT" id="tool-4" value='AVION' filler="AVION" autocomplete="off" readonly disabled>
                    <label class="for-checkbox-tools" for="tool-4">
                        <img class="img_vehicule" src="{{url_for('static', filename='ressources/avion-alt.svg')}}" alt="">
                        Avion
                    </label>
    
        </div>
        <strong id="title_part">_____Hotel_____</strong>
        <p class="sub_text"> Besoin d'un hotel?</p>

        <div id="hotel">
            <div style="display: flex; justify-content: center;">
                <input type = "hidden" id = "booking-3_H" name = "HOTEL" value = "OUI"/>
                <input class="checkbox-booking" type="checkbox" name="HOTEL" id="booking-3" value="NON" filler="HOTEL" autocomplete="off" readonly disabled>
                
                <label class="for-checkbox-booking" for="booking-3" style="position: relative; display: inline-block; ">							
                        <i class="uil uil-building"></i><span class="text"> Hotel ?</span>
                </label>  
            </div>
            
            <div id="hotel" class="hotel_info">
                <input id="Arrondisement" placeholder="Arrondisement si existant" style="display: none;">
                    <p class="sub_text">Petit déjeuner compris ?</p>
                <div style="display: flex; justify-content: center;">
                    <input class="checkbox-budget" type="radio" name="PTDEJ" id="PtDej_oui" value='OUI' filler="PTDJO" autocomplete="off" readonly disabled>
                    <label class="oui_non" for="PtDej_oui">
                        <span data-hover="OUI">OUI</span>
                    </label>
                    <input class="checkbox-budget" type="radio" name="PTDEJ" id="PtDej_non" value='NON' filler="PTDJN" autocomplete="off" readonly disabled>
                    <label class="oui_non" for="PtDej_non">
                        <span data-hover="NON">NON</span>
                    </label>  
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#booking-3').change(function() {
                        if ($(this).is(':checked')) {
                            document.getElementById("booking-3_H").disabled = true;
                            $('.hotel_info').hide();  // Montre la div quand l'input est coché
                        } else {
                            document.getElementById("booking-3_H").disabled = false;
                            $('.hotel_info').show();  // Cache la div quand l'input est décoché
                        }
                    });
                    
                    // Initial check on page load
                    if ($('#booking-3').is(':checked')) {
                        document.getElementById("booking-3_H").disabled = true;
                        $('.hotel_info').hide();
                    } else {
                        document.getElementById("booking-3_H").disabled = false;
                        $('.hotel_info').show();
                    }
                });
            </script>
        </div>
        </form>
        <script src="{{url_for('static', filename='/js/quill.min.js')}}"></script>
        <script src="{{url_for('static', filename='/js/quill-resize-module.js')}}"></script>

        <div id="editor" style="height: 80%">
            {{Mission[17] | safe }}
        </div>
        <input name="QUILL" id="playground" type="text" class="intext" style="visibility: hidden; height: 0px; border: 0;">
        <script>
            Quill.register("modules/resize", window.QuillResizeModule);
            const toolbarOptions = [  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
                ['link', 'image', 'video', 'formula'],

                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],

                ['clean'] ];
        const quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: toolbarOptions,
                resize: {
                    locale: {},
                }
            }
            });
            </script>
            <script>
                console.log("{{Mission}}");
                function fillContent(){
                    // FILLER FOR FRANCE/AUTRE //
                    if ('{{Mission[5]}}' === 'FRANCE'){
                        document.querySelectorAll('[filler*="FRANCE"]')[0].checked = true;
                    }
                    else{
                        document.querySelectorAll('[filler*="AUTRE"]')[0].checked = true;

                    }
                    //////////////////////////////
                    // FILLER FOR FRAIS //
                    if ('{{Mission[6]}}' === 'AVEC'){
                        document.querySelectorAll('[filler*="AFRAIS"]')[0].checked = true;
                    }
                    else if('{{Mission[6]}}' === 'SANS'){
                        document.querySelectorAll('[filler*="SFRAIS"]')[0].checked = true;
                    }
                    else{
                        throw new Error('Parameter6 {{Mission[6]}} is not valid');
                    }
                    //////////////////////////////
                    // FILLER FOR VEHICULE //
                    if ('{{Mission[11]}}' === 'VP'){
                        document.querySelectorAll('[filler*="VP"]')[0].checked = true;
                    }
                    else if('{{Mission[11]}}' === 'VUB'){
                        document.querySelectorAll('[filler*="VUB"]')[0].checked = true;
                    }
                    else if('{{Mission[11]}}' === 'TRAIN'){
                        document.querySelectorAll('[filler*="TRAIN"]')[0].checked = true;
                    }
                    else if('{{Mission[11]}}' === 'AVION'){
                        document.querySelectorAll('[filler*="AVION"]')[0].checked = true;
                    }
                    else{
                        throw new Error('Parameter11 {{Mission[11]}} is not valid');
                    }
                    //////////////////////////////
                    // FILLER FOR HOTEL //
                    if ('{{Mission[15]}}' === 'NON'){
                        document.querySelectorAll('[filler*="HOTEL"]')[0].checked = true;
                    }
                    else if('{{Mission[15]}}' === 'OUI'){
                        document.querySelectorAll('[filler*="HOTEL"]')[0].checked = false;
                    }
                    else{
                        throw new Error('Parameter15 {{Mission[15]}} is not valid');
                    }
                    // FILLER FOR PTEDJ //
                    if ('{{Mission[16]}}' === 'OUI'){
                        document.querySelectorAll('[filler*="PTDJO"]')[0].checked = true;
                    }
                    else if('{{Mission[16]}}' === 'NON'){
                        document.querySelectorAll('[filler*="PTDJN"]')[0].checked = true;
                    }
                    else{
                        throw new Error('Parameter16 {{Mission[16]}} is not valid');
                    }   
                }
                fillContent()
            </script>
    </div>
</body>
</html>
