
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='ressources/bm_gradignan_geii_rvb.png')}}">
    <title>List Mission</title>
</head>
<body class="view">
    <ul class="view">
        <li class="view"><div class="view" id="id_mission">ID Mission</div> <div class="view" id="id_user">Demandeur</div> <div class="view" id="date">Date</div> <div>Status</div></li>
        {% for mission in Missions %}
            <li class="view"><div class="view" id="id_mission">{{mission[0]}}</div> <div class="view" id="id_user">{{mission[1]}}</div> <div class="view" id="date">{{mission[2]}}</div> <div>{{mission[3]}}</div></li>
        {% endfor %}
    </ul>
    
</body>
</html>